.idea-cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:260px;
  margin: auto;
  height: 300px;
  margin-bottom: 50px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(163,163,166,0.47);
  -moz-box-shadow: 0px 0px 5px 0px rgba(163,163,166,0.47);
  box-shadow: 0px 0px 5px 0px rgba(163,163,166,0.47);
  background-color: #fff;
  img{
    margin-bottom: 20px;
  }

  &:nth-child(2){
    margin-top: 150px;
  }
}

ion-button {
  --background: #6039bd;
  --background-hover: #6039bd;
  --background-activated: #6039bd;
  --background-focused: #6039bd;
  --box-shadow: none;
  --padding-start:50px;
  --padding-end:50px;
}

